<div class="row movie-page-wrapper">
	<div class="one-half column u-pull-left movie-info">
		<h1><%= @movie.title %></h1>
		<div class="row">
			<%= image_tag("https://image.tmdb.org/t/p/w300" + @movie.poster_path, :alt => @movie.title, class: "one-half column") %>
			<div class="one-half column">
				<h5 class="movie-description"> <%= @movie.overview %> </h5>
				<br>
				<iframe class="trailer" width="400" height="225" src="https://www.youtube.com/embed/" + <%= Tmdb::Movie.videos(@movie.id)[0].key %> frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>

	<div class="one-half column u-pull-left movie-review" style="position: relative; margin-left: 50%">

	</p>
	<!-- <p> link_to 'Create Review', [:new, @movie, @review] -->
	</p>

	<%= render 'reviews/show' %>

</div>
</div>