<div class="container">

  <% @reviews.each do |review| %>
  <h2>Reviews</h2>
  <strong>Rating:</strong>
  <%= review.rating %>
  <p>
    <strong>Review:</strong>
    <%= review.body %> <br> by <b> <%= review.user.username %> </b>
  </p>



  <% review.comments.each do |comment| %>
  <strong>Comment:</strong> <br>
  <%= comment.body %>
  <%= link_to 'delete', review_comment_path(review.id, comment.id),
  :method => :delete, :confirm => "Are you sure?"%>
  <br>


  <% end %>
   -----------------------------------------------------------------
  <% end %>
</div>