<div class="container">
  
    
  <% @reviews.each do |review| %>
    <h2>Reviews</h2>
    <strong>Rating:</strong>
    <%= review.rating %> 
    <p>
      <strong>Review:</strong>
      <%= review.body %> <br> by <b> <%= review.user.username %> </b>
    </p>
  
          <% review.comments.each do |comment| %>
            <strong>Comment:</strong><br>
              <%= comment.body %><br>
          <% end %><br>

  <%= link_to 'new comment', new_review_comment_path(review.id) %> <br>
    _______________________________________________________________
  <% end %>
</div>