<div class="container">
  <h1>Create a Review</h1>
<%= form_for @review do |f| %>
<%= hidden_field_tag "movie", params[:format] %>

   <div class="content">
    <% if flash[:notice] %>
    <p><div class="notice"><strong><%= flash[:notice] %></strong></div></p>
  <% end %>

  <p>
    <%= f.label :rating %><br>
    <%= f.select :rating, (0..5) %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>
   <!-- render 'reviews/form'  -->

</div>