<!DOCTYPE html>
<html>
  <head>
    <title>ORSON</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="row">
  	<div class="twelve columns">
  		<nav>
  			<ul style="list-style: none;">
  				<li class="logo">
  					<%= link_to 'ORSON', root_path %>
  				</li>
  				<li class="user-link">
  					Sign Up
  				</li>
  				<li class="user-link">
  					Sign In
  				</li>
  			</ul>
  		</nav>
  	</div>
  </div>
    <%= yield %>
  </body>
</html>
