<!DOCTYPE html>
<html>
  <head>
    <title>ORSON</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="row">
  	<div class="twelve columns">
  		<nav>
  			<ul style="list-style: none;">
          <li><%= link_to('Home', root_path) %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <li><%= link_to('Profile', user_path(current_user.id)) %></li>
          <% else %>
            <li><%= link_to('Sign in', new_user_session_path) %></li>
            <li><%= link_to('Sign up', new_user_registration_path) %></li>
          <% end %>
        </ul>
  		</nav>
  	</div>
  </div>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>


    <%= yield %>
  </body>
</html>
